<p>publications works!</p>


<form>
  <input name ="pub-title" type="text" [(ngModel)]="publicationsService.pubTitle" placeholder ="Publication Title" />
  <textarea name="pub-description" [(ngModel)]= "publicationsService.pubDescription" placeholder ="Publication Description"></textarea>
  <button (click)="publicationsService.addPublication()"> Ajouter</button>
</form>

<div class="publications">
  <div class="publication" *ngFor="let publication of publicationsService.publications" >
    <div class="title">
      {{publication.pubTitle}}
    </div>
    <div class="description">
      {{publication.pubDescription}}
    </div>
    <button class="delete" (click)="publicationsService.deletePublication(publication)">delete</button>
    <button class="edit" routerLink="/publication/{{publication.id}}">edit</button>
  </div>
</div>



