.bg-color-red{
  background-color: red;
}

.bg-color-blue{
  background-color: blue;
}

.w-400{
  width: 400px;
}

.h-300{
  height: 300px;
}

.h-350{
  height: 350px;
}

.h-100{
  height: 100px;
}

.margin-form{
  margin: 10% 36%;
}

.margin-input{
  margin: 0% 18%;
}

.margin-logo{
  margin: 5% 43% -9%;
}

.margin-center{
  margin: 0% 36%;
}

.border-form{
  border: thick double ;
}

.mt-1{
  margin-top: 5%;
}

.text-center{
  text-align: center;
}

.font-size-lg{
  font-size: large;
}

.font-size-s{
  font-size: small;
}

.input-size{
  width: 250px;
  height: 30px;
}

