<app-header></app-header>
<div class="titre">Mes informations</div>
<mat-card class="card">
  <mat-icon class="edit-icon">edit</mat-icon>
  <mat-icon class="card-icon">account_circle</mat-icon>
  <div class="card-info">
    <span class="fw-500">Gender:</span>  {{gender}}
  </div>
  <div class="card-info">
    <span class="fw-500">Firstname: </span>{{fname}}
  </div>
  <div class="card-info">
    <span class="fw-500">Lastname:</span> {{lname}}
  </div>
  <div class="card-info">
    <span class="fw-500">Adresse email:</span> {{email}}
  </div>
  <div class="card-info">
    <span class="fw-500">Date de naissance:</span> {{birthday}}
  </div>

</mat-card>
<div class="card-delete">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Supprimer votre compte?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Êtes-vous sûre?</p>
    <button mat-raised-button color="warn" class="mt-3"> Oui supprimer mon compte </button>
  </mat-expansion-panel>
</div>

