.titre {
  margin: 2% 42%;
  font-size: 28px;
  font-weight: 400;
}

.card{
  width: 40%;
  margin: 0 30%;
  text-align: center;
}

.card-delete{
  width: 42%;
  margin: 2% 30%;
  text-align: center;
}

.card-info{
  margin: 2% 0;
}

.fw-500{
  font-weight: 500;
}

.card-icon{
  font-size: 68px;
  display: flex;
  margin: 0 44% 10%;
}

.edit-icon{
  position: absolute;
  margin-left: 40%;
}

.mt-3{
  margin-top: 3%;
}
