<mat-toolbar color="primary">
  <img [src]="logoPath" alt="logo" width="200px"/>
  <div class="pull-right">
    <button routerLink="/creation" mat-raised-button color="accent" class="align-vertical-super mr-50">
      <mat-icon>add_box</mat-icon>
      Déposer un avis
    </button>
    <mat-icon routerLink="/accueil" class="font-size-45 align-vertical-sub mr-50">home</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="font-size-45 align-vertical-sub">account_circle</mat-icon>
    </button>
    <span *ngIf="connexionService.connectedUser" mat-button [matMenuTriggerFor]="menu">
      {{connexionService.connectedUser.fname | titlecase}} {{connexionService.connectedUser.lname | titlecase}}
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profil</button>
      <button mat-menu-item>Favoris</button>
      <button mat-menu-item>Paramètre</button>
      <button (click)="logout()" mat-menu-item>Déconnexion</button>
    </mat-menu>
  </div>
</mat-toolbar>
