.pull-right{
  width: 100%;
  text-align: end;
}

.font-size-45{
  font-size: 45px;
}

.mr-50{
  margin-right: 50px;
}

.mr-10{
  margin-right: 10px;
}

.align-vertical-sub{
  vertical-align: sub !important;
}

.align-vertical-super{
  vertical-align: super;
}



