.titre {
  margin: 5% 22%;
  font-size: 21px;
  font-weight: 500;
}

.text-center{
  text-align: center;
}

.w-45{
  width: 45%;
}

.mr-6{
  margin-right: 6%;
}

.mt-6{
  margin-top: 6%;
}
.mt-3{
  margin-top: 3%;
}

.pswd-input{
  width: 35%;
  margin: 0 3%;
}
