<div class="titre">Modifier mes informations</div>
<div class="text-center">
  <mat-radio-group  [(ngModel)]="gender" required>
    <mat-radio-button value="Femme" class="mr-6" [checked]="gender === 'Femme'">Femme</mat-radio-button>
    <mat-radio-button value="Homme" [checked]="gender === 'Homme'">Homme</mat-radio-button>
  </mat-radio-group>
  <br> <br>
  <mat-form-field appearance="fill" >
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="{{fname}}" [(ngModel)]="fname" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Nom</mat-label>
    <input matInput placeholder="{{lname}}" [(ngModel)]="lname" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Adresse email</mat-label>
    <input matInput type="email" placeholder="{{login}}" [(ngModel)]="login" required>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field appearance="fill" class="w-45">
    <mat-label>Date de naissance</mat-label>
    <input matInput placeholder="{{birthday}}" [matDatepicker]="datepicker" [(ngModel)]="birthday" required>
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field> <br>
  <button mat-raised-button color="primary" (click)="update()">
    Confirmer
  </button>

  <h2 class="mt-6">Modifier mon mot de passe</h2>
  <mat-form-field appearance="fill" class="pswd-input">
    <mat-label>Ancien mot de passe</mat-label>
    <input matInput type="password" placeholder="*****" [(ngModel)]="oldPassword" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="pswd-input">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput type="password" placeholder="*****" [(ngModel)]="newPassword" required>
  </mat-form-field>
  <button mat-raised-button color="primary" class="mt-3" (click)="updatePassword()">
    Modifier mon mot de passe
  </button>
</div>
