.titre {
  margin: 2% 42%;
  font-size: 30px;
  font-weight: 400;
}

.img-center{
  width: 40%;
  margin: 0 29%;
}

.text-no-result{
  margin: 0 45%;
  font-size: x-large;
}

.text-center{
  text-align: center;
}
