.w-75{
  width: 75%;
}

.h-130{
  height: 130px;
}

.border-form{
  border: thick double ;
}

.margin-filter{
  margin: 3% 12%;
}

.margin-filter-field{
  margin: 0 3%;
}

.margin-title{
  margin: 1% 2%;
}

.bold{
  font-weight: bold;
}

.d-inline{
  display: inline;
}

.img-center{
  width: 50%;
  margin: 0 32%;
}

.text-no-result{
  margin: 0 45%;
  font-size: x-large;
}
